{% extends "base.html" %} {% block title %}Arrival{% endblock %} {% block content%}
    <br>

    <h1>Your Arrival</h1>
    <h4 class="dlDate">Your arrival date is: {{ arrivalDL }}</h4>

    <br>
	
    <h6 id="taskDesc">When you arrive at the airport, follow the customs procedures. If you have questions, message ISS or a friend for help. If you plan to take a taxi to campus, have at least 600 yuan (800 is better) in cash to pay the driver.</h6>

    <br>

    <div class="info">
        <p>We have a few apps that we suggest you to download before arrival to make travel easier!</p>

        <ul>
            <li>Most importantly, download WeChat! It's easier for communication in china. Once you get a chinese bank account, you'll be able to purchase things using it as well!</li>
            <li>In order to make purchases, it might be easiest to download Alipay. It's also more friendly for international cards!</li>
        </ul>
    </div>
    <br>

    <div class="info">
        <p>When it comes to actually getting to school, there are at least two ways to do it. You can either take a taxi or hop on the train. Always let someone know you're on the way!</p>
        <ul>
            <li>Baidu Maps gives you a bunch of options of how to get to school. </li>
            <li>DiDi (滴嗒出行) is another app that lets you order a taxi! Don't forget that you have to have Alipay in order to pay for the taxi!</li>
        </ul>
    </div>

    <br>

    <div class="info">
        <p>No matter how you end up in Kunshan, you need an address to go to!</p>

        <p>Once you pass through customs, head towards the taxi line or take the train to Kunshan or Kunshan South Station. If you are taking a taxi, show the driver one of these addresses: </p>
        <ul>
            <li>江苏省-苏州市-昆山市-博士路99号雅颂悦里a3号 which will take you to the entrance to TA's bus stop</li>
            <li>or 江苏省-苏州市-昆山市-杜克大学西门(江苏省昆山中学南) which will drop you off at the west gate on campus, outside of CC (Conference Center Building)</li>
        </ul>
    </div>

    <br>

    <div class="info">
        <p>Finally, here are some WeChat IDs and services to save!</p>
        <ul>
            <li>An ISS worker, Jordan: jordanknight (they have a cat pfp).</li>
            <li>Another ISS worker, Yueqi: aglntwm005 (they have a... blue? pfp)</li>
            <li>And finally, search for DKU Services/昆山杜克大学服务: You need this to get onto campus.</li>
            <!--<li>And finally, one of the creators of this website, Ky: Kelise_0ng (they have an autumn pfp). She'll make sure you get invited to the groupchats!</li>-->
        </ul>
    </div>

{% endblock %}