{% extends "base.html" %} {% block title %}Health Checkup{% endblock %} {% block content%}

    <br>
    <h1>Welcome to getting Health Checkup!</h1>
    <h4 class="dlDate">The suggested deadline for this item is: {{ checkDL }}</h4>

    <br>

    <h6 id="taskDesc">This is a necessary checkup you must go to at the Jiangsu International Travel Healthcare Center, Suzhou Branch (江苏国际旅行卫生保健中心苏州分中心). You'll need to submit the resulting paper in order to obtain your residence permit.</h6>

    <br>
    
    <div class="info">
        <p><a href="http://m.suz.ithc.cn/wx/nav/dispatch/iamforeigners">This</a> is where you can book your appointent. It requires a chinese phone number to submit!</p>

        <p>You'll need to bring two passport sized photos (2inx2in or 5cmx5cm). The health checkup is about 30 minutes away, so you'll spend at least an hour travelling to and from. You can just type the chinese name into your taxi service app, but this is the location you're trying to go to: Address: 738 Changjiang Rd, Huqiu District, Suzhou, Jiangsu, China, 215011 地址: 苏州市738 号长江路</p>

        <p>If you struggle to find an available appointment, it's okay you can go to the EEB without this, though you will not recieve your appointment until you submit your health permit.</p>

        <p>Some tips for you:</p>
        <ul>
            <li>Appointments refresh every Thursday at 2pm!</li>
            <li>It will run you about 550RMB. Bring 600 to be safe, and that's excluding the expensive taxi.</li>
            <li>They do take walk-ins, but it's better to schedule an appointment since they mostly speak Chinese.</li>
            <li>Be warned, you will have to get your blood drawn.</li>
            <li>Drink lots of water- you'll have to pee in a cup as well.</li>
        </ul>

        <p>Once your results are mailed back to you, you can either hold onto it until you go to the EEB or give it to ISS if you've already gone.</p>
    </div>


{% endblock %}