{% extends "base.html" %} {% block title %}24HR ACCOMODATION{% endblock %} {% block content%}

    <h1>Extra Information...</h1>
    <h3>...For the newly arrived!</h3>

    <br>

    <div class="info">
        <h6>DKU EPrint!</h6>
        <p>Wanna use a campus printer? You'll need to use the app found here, available for Mac and Windows.</p>
        <p><a href="https://it.dukekunshan.edu.cn/eprint-information/">DKU E-Print</a></p>
    </div>

    <br>

    <div class="info">
        <h6>Waimai, Taobao, and more!</h6>
        <p>Trying to order delivery?</p>
        <ul>
            <li>If you're on campus, make sure you choose the westgate for the instant delivery options, 西门. For Taobao, expect a text message </li>
            <li>If you're on campus, make sure you choose the westgate for the instant delivery options, 西门. For Taobao, expect a text message </li>
            <li>If you're on campus, make sure you choose the westgate for the instant delivery options, 西门. For Taobao, expect a text message </li>
        </ul>
    </div>

{% endblock %}