{% extends "base.html" %} {% block title %}Phone Number{% endblock %} {% block content%}
    <br>
    
    <h1>How to get a Chinese Phone Number</h1>
    <h4 class="dlDate">Your suggested deadline for this item is: {{ phoneDL }}</h4>

    <br>
    <h6 id="taskDesc">You'll need a chinese phone number to not only access most chinese apps, but to get a chinese bank account.</h6>
    <br>

    <div class="info">
        <p>China has three cell carriers, China Mobile, China Unicom, and China Telecom.</p>

        <p>ISS suggests that you go to China Telecom, specifically the one at this address: 中国电信北门路手机卖场(高新区工维中心) 江苏省苏州市昆山市北门路818号2楼</p>
        <p>Other DKU Students have suggested China Mobile, specifically the one at <i>this</i> address: 江苏省-苏州市-昆山市-玉山镇前进西路1390号</p>

        <br>

        <p>Either way, we suggest you go with more than one person. And no matter where you go, you have to bring the same items:</p>
        <ul>
            <li>Passport</li>
            <li>100-200RMB</li>
            <li>...That's it!</li>
        </ul>
    </div>

{% endblock %}