{% extends "base.html" %} {% block title %}Bank Account{% endblock %} {% block content%}
    <br>

    <h1>How to get a Chinese Bank Account</h1>
    <h4 class="dlDate">Your suggested deadline for this item is: {{ bankDL }}</h4>

    <br>
    <h6 id="taskDesc">This is a necessary asset to have as a foriegner in China since a lot of services don't accept international cards.</h6>

    <div class="info">
        <p>ISS recommends you get a China Construction Bank card (CCB) since this is the bank DKU works with. This is the branch they suggest you go to, specificially visiting the 2nd floor:  昆山市前进西路228号中国建设银行. They also advise that you contact ISS a day before so they can set up a meeting with the bank manager for you.</p>

        <p>You will need a document that states your purpose for opening a bank account. One in English, and one in Chinese. You can copy these blank versions here, or you can contact the ISS worker Ruoxuan (WeChatID: H1317126892) to make you personalized copies and help you with your other bank needs.</p>

        <p>This is a full list of the documents & items you'll need to bring:</p>
        <ul>
            <li>Passport Information & Visa Page, Copy and Original</li>
            <li>Admission Notice, Copy and Original</li>
            <li>Your DKU ID Card, Copy and Original</li>
            <li>Purpose of Statement, Chinese and English</li>
            <li>Simple Resume</li>
            <li>24-HR Registration Form Copy</li>
        </ul>
    </div>

{% endblock %}