{% extends "base.html" %} {% block title %}24HR ACCOMODATION{% endblock %} {% block content%}
    <br>

    <h1>Welcome to getting the Entry-Exit Bureau Appointment</h1>
    <h4 class="dlDate" id="heavyDL">Your current deadline for this item is: {{ eebDL }}</h4>

    <br>

    <h6 id="taskDesc">This is the last step until you can get your Residence Permit. Once you obtain this, you'll no longer have to worry about trouble with immigration control!</h6>

    <div class="info">
        <p>You need a representative from ISS to come with you to the EEB, so be prepared. (Additionally, they will probably have you pay for the taxi for them.) Email this contact to schedule a time: chaoran.han@dukekunshan.edu.cn </p>
        <p>Items you'll need o bring with you:</p>
        <ul>
            <li>AT LEAST 1000RMB. I was caught of guard. Never again.</li>
            <li>Your passport.</li>
            <li>Your health report (though this is technically optional if it's getting too close to your deadline.)</li>
            <li>Your admission papers.</li>
            <li>"Photos": They have very specific photo dimensions, so they have a photo booth inside the RMB. That will run you 30RMB for nine photos. I guess they're keepsakes.</li>
        </ul>
        <br>
        <p>Once you submit your request for a residence permit, they will give you a paper to hold as a replacement for your passport, which they will hold onto during processing. Don't lose it. </p>
        <p>When your residence permit has been processed, you'll get a notification from the EEB letting you know it has been mailed to the DKU Mailroom. ISS may or may not notify you as well. This is what they had to say when asked:</p>
        <p text-align:right><i>1. Normally you will receive a text message from China post first (Chinese version) 

            2. After you have the trip to EEB, a piece of paper with tracking scan code/link will also be handled to you when you pay the fee if all the required documents are submitted.
            
            3. Sometimes if ISS student workers happen to stop by mailing room and see our students mailing packages, they will kindly remind our students in this WeChat group (sorry this a favor but not a service, please refer to 1&2)</i></p>
    </div>

{% endblock %}